#selList1 {
  margin-top: 150px;
  margin-left: 140px;
}

#sel1 {
  font-family: 'Barlow Semi Condensed', cursive;
  font-size: 15px;
}

#date_input {
  height: 45px;
  cursor: default;
}

#add-on-id {
  height: 45px;
  padding-top: 14px;
  padding-left: 7px;

  cursor: pointer;
}
